@charset "UTF-8";

// Make sure compass is true in the gulp 'styles' task
@import "compass";

@import

// Helpers

"helpers/functions",
"helpers/mixins",


// Settings

"base/settings",


// Base

"base/normalize",
"base/base",
"base/typography",
"base/links",
"base/lists",
"base/forms",
"base/tables",
"base/buttons",
"base/debug",


// Vendors
"vendor/gridset",


// Placeholders

"helpers/placeholders"
"base/print";




/*  Your styles */
/*
How to use grids: https://gridsetapp.com/documentation/sass/
Breakpoints: m 320px, t 768px, d 1000px
Desktop: 12 columns d1 to d-12. d-all for all columns
Tablet: 6 columns, t1 to t6. t-all for all columns
Mobile: 2 columns, m1 to m2. m-all for all columns
*/



/* NAV */

.nav {
	position: absolute;
	right: 0%;
	top: 0;
	background: #000;
	color: #fff;
	width: rhythm(3);
	height: rhythm(2.5);
	overflow: hidden;
	@include mq(t) {
		background: none;
		width: auto;
		height: auto;
		right: 0;
	}
}
.nav--active {
	height: auto;
	overflow: visible;
	min-width: 122px;
	.nav-title {
		text-indent: -999em;
		&:before {
			content:'\2192 Chiudi ';
			display: block;
			position: absolute;
			left: 10px;
			top: 0;
			text-indent: 0;
		}
	}
	.nav-list {
		width: 150px;
		@include mq(t) {
			width: auto;
		}
	}
}
.nav-title {
	position: relative;
	display: block;
	font-weight: bold;
	text-align: center;
	line-height: rhythm(2.5);
	padding: 0 10px;
	@include mq(t) {
		display: none;
	}
}
.nav-list {
	position: absolute;
	top: rhythm(2.5);
	right: 0;
	margin: 0;
	padding: 0 10px;
	width: 0;
	z-index: 999;
	background: $dark-grey;
	height: 100vh;
	-webkit-box-shadow: -8px 0px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: -8px 0px 5px 0px rgba(0,0,0,0.2);
	box-shadow: -8px 0px 5px 0px rgba(0,0,0,0.2);
	transition: all .2s ease-in;
	@include mq(t) {
		position: static;
		box-shadow: none;
		background: none;
		width: 100%;
		height: 48px;
		padding: 0;
	}

}

.nav-list__item {
	display: block;
	text-align: right;
	height: rhythm(2.5);
	line-height: rhythm(2.5);
	border-bottom: 1px solid rgba(255,255,255,.1);
	padding-left: 10px;
	@include mq(t) {
		float: left;
		list-style: none;
		margin-left: 20px;
		text-align: left;
	}
}